/*Простой селектор потомка (применяется ко всем указанным потомкам), можно также указывать класс или универсальный селектор. + в том, что не надо вносить изменения в html*/
nav ul {
	color: #fc0000;
}

/*Дочерний селектор*/
/*выбреться только ul, который непосредственно  дочерний элемент body*/
body > ul {
	color: #00fc0d;
}

/*1й родственный абзац, одного уровня вложенности*/
nav + p {
	color: #dfee13;
}

/*все родственные абзацы, одного уровня вложенности, идущие как я понял за ul*/
nav ul ~ p {
	color: aquamarine;
}
