.example {
	width: 200px;
	height: 200px;
	background-color: brown;
	margin: 50px;
}
#example1:hover {
	transform: skew(10deg, 0);
}

#example2:hover {
	transform: skew(-10deg, 0);
}

#example3:hover {
	transform: skew(-20deg, -20deg);
}

#example4:hover {
	transform: skew(20deg, 20deg);
}
