.example {
	width: 200px;
	height: 200px;
	background-color: rgb(255, 0, 0);
	text-align: center;
	margin: 80px;
}

#example1 {
	transform: rotate(0);
}

#example2 {
	transform: rotate(45deg);
}

#example3 {
	transform: rotate(-45deg);
}

#example4 {
	transform: rotate(180deg);
}

#example5 {
	transform: rotate(90deg);
}

#example6 {
	transform: rotate(720deg);
}
