.ul-block,
.ol-block,
.other-block {
	border: 3px solid;
	margin-bottom: 5px;
}

.list-style-type,
.list-style-position,
.list-style-image {
	border: 3px solid;
	padding: 10px 5px;
	margin: 5px 0;
}

/*Изменяем  маркер маркированных списков*/
.disc {
	list-style-type: disc;
}

.circle {
	list-style-type: circle;
}

.square {
	list-style-type: square;
}

/*Изменяем маркер нумерованных списков*/
.decimal {
	list-style-type: decimal;
}

.decimal-leading-zero {
	list-style-type: decimal-leading-zero;
}

.upper-alpha {
	list-style-type: upper-alpha;
}

.lower-alpha {
	list-style-type: lower-alpha;
}

.upper-roman {
	list-style-type: upper-roman;
}

.lower-roman {
	list-style-type: lower-roman;
}

/*Без маркера*/
.none {
	list-style-type: none;
}

/*Изменяем расположение маркеров*/
.lsp-outside {
	list-style-position: outside;
}

.lsp-inside {
	list-style-position: inside;
}

/*Делаем картинку маркером*/
.list-style-image {
	list-style-image: url(assets/img/Nero-icon.png);
}
